.logo {
  margin-bottom: 40px;
  letter-spacing: 0.7em;
}

.productgalleries{
  margin-top: 20px;

}

.slider{
  display:inline-block;
  overflow:hidden;
}

a:before {
  content:attr(rel);
  position:absolute;
  top:20px;
}

a{
  position:relative;
  top:0;
  -webkit-transition-duration: .25s;
}

a:hover {
  top:-20px;
  -webkit-transition-duration: .25s;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
